.App {
  text-align: center;
}

.App-header {
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

h1 {
  font-weight: 100;
  white-space: pre;
}
#blinker{
  animation: blinker 0.5s infinite ;
  color: orange;
}

nav {
  font-family: 'Orbitron', sans-serif;
  display: flex;
  color: white;
  position: absolute;
  justify-content: space-between;
  top: 0;
  right: 0;
  width: 100%;
}

@keyframes blinker {
  0% {
    opacity: 0
  }
  49% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}